.weather-form{
  background-color: #576A85;
  padding: 15px;
  
  
  display: flex;
  justify-content: center;
  margin:auto;
  color:white;
  
}

form button{
  background-color: #9D68AF;
  border: none;
  border-radius:0;
}

form input{
  max-width: 200px;
  max-height: 1em;
}

button:hover{
  background-color: #a47cb1;
  color:white;
  /* border: solid 2px; */
  border-color:#b58cc2;
}
/*--------------------------------*/
.page-one{
  min-height: 300px;
}

.current-display{
  background: #576A85;
  color:white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 300px;
}
.text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.day-bttn{
background: #9D68AF;
color:white;
text-align: center;
display: flex;
  flex-direction: column;
  justify-content: center;

}
.day-bttn:hover{
  background-color: #b58cc2;
  color:white;
  
} 

.other-bttn{
background: #576A85;
color:white;
text-align: center;
display: flex;
  flex-direction: column;
  justify-content: center;
}

.other-bttn:hover{
  background-color: #869ebf;
  color:white;
  
}